
$primary: #5265E1;
$secondary: #FA5959; 

.navbar{
  width: calc(100% - 6rem);
}

.nav-item:hover {
  color:#FA5959;
}
#myTab:hover{
  color:#FA5959 ;
}

#features:hover{
  color:white;
}
.background-item {
    display: block;
    margin-right: -7rem;
    height: 12rem;
    width: 17rem;
    background-color: $primary;
    position: absolute; 
    z-index: -1; 
    border-radius: 40% 0 0 40%;    
    top: 3rem;
    right: 0;
  }
  .background-item-revese {
    display: block;
    height: 20rem;
    width: 40rem;
    background-color: $primary;
    position: absolute; 
    z-index: -1; 
    border-radius:  0 40% 40% 0;    
    top: 65rem;
    left: 0;
  }

.fox{
  margin-top: 30rem;
}
  @media (min-width: 390px) {
    .background-item {
      height: 15rem;
      width: 24rem;
    }
    .background-item-revese {
      height: 14rem;
      width: 18rem;
      top: 80rem;
    }
    .body{
      align-items:center;
    }
  }

  @media (min-width: 465px) {
    .background-item {
      height: 17rem;
      width: 28rem;
    }
    
  }

  @media (min-width: 510px) {
    .background-item {
      height: 19rem;
      width: 32rem;
    }
    .background-item-revese {
      height: 16rem;
      width: 24rem;
    }
  }
  @media (min-width: 574px) {
    .background-item {
      width: 30rem;
    }
    .background-item-revese {
      height: 18rem;
      width: 28rem;
    }
  }
  
 
  @media (min-width: 768px) {
    .background-item {
      height: 25rem;
      width: 40rem;
      
    }
    .background-item-revese {
      height: 24rem;
      width: 38rem;
    }
  }
  
   @media (min-width: 992px) {
    .background-item {
      height: 18rem;
      width: 30rem;
    
    }
    .background-item-revese {
      height: 14rem;
      width: 30rem;
      top: 58rem;
    }
  }
  
   @media (min-width: 1200px) {
    .background-item {
      height: 22rem;
      width: 33rem;    
    
    
    }
    .background-item-revese {
      height: 16rem;
      width: 36rem;
    }
  }
  
   @media (min-width: 1400px) {
    .background-item {
      height: 24rem;
      width: 36rem;

    }
    .background-item-revese {
      height: 22rem;
      width: 42rem;
      top: 63rem;
    }
  }
  
  
 
@import "../node_modules/bootstrap/scss/bootstrap";
