$primary: #5265e1;
$secondary: #fa5959;
$light: rgb(146, 146, 146);
$navbar-light-toggler-border-color:none;
$accordion-button-active-color:#fa5959;

$nav-tabs-link-hover-border-color: #fa5959;

.navbar {
  width: calc(100% - 6rem);
}

.card {
  margin: 0 auto;
}
.faqs{
  margin-top: 5rem;
}

nav {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
}

nav a {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
nav a:hover {
  border-top: 4px solid #fa5959;
  border-bottom: 4px solid #fa5959;
}

.background-item {
  display: block;
  margin-right: -7rem;
  height: 12rem;
  width: 17rem;
  background-color: $primary;
  position: absolute;
  z-index: -1;
  border-radius: 40% 0 0 40%;
  top: 3rem;
  right: 0;
}
.background-item-reverse {
  display: block;
  height: 10rem;
  width: 15rem;
  background-color: $primary;
  position: absolute;
  z-index: -1;
  border-radius: 0 40% 40% 0;
  top: 78rem;
  left: 0;
}

.fox {
  margin-top: 30rem;
}
@media (min-width: 390px) {
  .background-item {
    height: 15rem;
    width: 24rem;
  }
  .background-item-reverse {
    height: 10rem;
    width: 18rem;
    top: 78rem;
  }
  .body {
    align-items: center;
  }
}

@media (min-width: 465px) {
  .background-item {
    height: 17rem;
    width: 28rem;
  }
}

@media (min-width: 510px) {
  .background-item {
    height: 19rem;
    width: 32rem;
    
  }
  .background-item-reverse {
    height: 16rem;
    width: 24rem;
    top: 74rem;
  }
}
@media (min-width: 574px) {
  .background-item {
    width: 30rem;
  }
  .background-item-reverse {
    height: 18rem;
    width: 28rem;
    top: 75rem;
  }
}

@media (min-width: 768px) {
  .background-item {
    height: 25rem;
    width: 40rem;
  }
  .background-item-reverse {
    height: 20rem;
    width: 38rem;
    top: 82rem;
  }
}

@media (min-width: 992px) {
  .background-item {
    height: 18rem;
    width: 30rem;
  }
  .background-item-reverse {
    height: 14rem;
    width: 28rem;
    top: 58rem;
  }

  .fox {
    top: 10rem;
  }

  .opera {
    top: 20rem;
  }

  .faqs{
    margin-top: 25rem;
  }

  .special{
    text-align: start;
  }
}

@media (min-width: 1200px) {
  .background-item {
    height: 22rem;
    width: 33rem;
  }
  .background-item-reverse {
    height: 16rem;
    width: 36rem;
    top: 60rem;
  }
}

@media (min-width: 1400px) {
  .background-item {
    height: 24rem;
    width: 36rem;
  }
  .background-item-reverse {
    height: 22rem;
    width: 42rem;
    top: 63rem;
  }
}
@media (min-width: 1600px) {
  .background-item-reverse {
    width: 48rem;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";
